
/*
**debug purposes

* {
  outline: red 1px solid;
}


div {
    border: 1px solid orange;
}
*/

/* delete above when done */

body {
  background-color: black;
}

.mainDiv {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu {
	float: left;	
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 172px;
  left: -136px;
  float: left;

}

h2 {
	font-size: 1.5em;
	position: relative;
	padding-top: 1em;
  	top: 0px;
  	left: -250px;
  	float: left;

}